<!DOCTYPE html>
#{if flash.get("application.delivery") == "traditional"}
<!-- This section is not needed for single page apps -->
<html>
<head>
#{layout-html-header /}

<link rel="stylesheet" media="all" href="/public/stylesheets/reader.css" />
</head>

<body class="theme-${flash.get("application.theme")}" #{if "ar".equals(lang.toString())}dir="rtl"#{/if}>

#{/if}

#{layout-navigation-top-reader /}

<!-- Main Page -->
#{doLayout /}
#{layout-navigation-bottom-reader /}

#{if flash.get("application.delivery") == "traditional"}
<!-- This section is not needed for single page apps -->
<!-- Le javascript
================================================== -->
#{layout-scripts-global/}

<script type="text/javascript" src="/public/javascripts/reader/jquery.showLoading.js"></script>
<script type="text/javascript" src="/public/javascripts/reader/jquery.touchwipe.1.1.1.js"></script>
<script type="text/javascript" src="/public/javascripts/reader/eedition.js"></script>
<script type="text/javascript" src="/public/javascripts/reader/data-book1.js"></script>

<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
#{/if}