/* ---------- Responsive ------------ */

// Landscape phones and down
@media (max-width: 480px) {

    #hero  {
        h1 {
            font-size: 32px;
            line-height: 36px;
        }

        p {
            font-size: 18px;
            line-height: 20px;
        }

        p a   {
            width: 90%;
        }

        .carousel-control   {
            width: 40px;
        }


    }

}

// Landscape phone to portrait tablet
@media (max-width: 767px) {

    /* Navbar customization */
    .navbar .nav > li > a, .navbar .dropdown-menu a {
        color: #000000;
        font-weight: normal;
    }


}

// Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 979px) {

    /* Navbar customization */
    .navbar .nav > li > a, .navbar .dropdown-menu a {
        color: #000000;
        font-weight: normal;
    }

}

// Large desktop
//@media (min-width: 1200px) {  }


