@baseFontFamily:    'Lucida Casual', 'Comic Sans MS', 'HelveticaNeue';
@NGLThemeColor: #e4e8e6;
@NGLBodyBackgroundColor: #454545;
@NGLFooterBackgroundColor: #333333;

//@NGLThemeColor:    #F9E689;

body    {
    //background: url(/public/images/16x16_ccc_transparent.gif);
    background-color: @NGLBodyBackgroundColor;
    margin-top: 20px;
    margin-bottom: 20px;
}

.splash    {
    background-color: @white;
    padding: 20px;
    margin: 20px auto;
    border: 3px solid @black;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

    p  {
        font-size: 16px;
        line-height: 20px;
    }

    h1 {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 10px;
    }

    h2  {
        font-size: 18px;
        line-height: 22px;
        small   {
            display: block;
            margin-bottom: 10px;
        }
    }
    h6  {
        margin-bottom: 10px;
    }

    dd  {
        font-size: 16px;
        line-height: 18px;
        padding-top: 5px;
        padding-bottom: 5px;

        small {
            font-size: 13px;
            line-height: 16px;
        }
    }

    dl {
        margin-bottom: 10px;
    }
}

#hero  {
    background-color: @NGLThemeColor;
    padding: 10px 20px 20px 20px;
    color: #000000;
    h1 {
        font-size: 40px;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: -1px;
        padding-bottom: 15px;
    }

    p {
        font-size: 24px;
        line-height: 28px;
    }

    p .btn {
        font-size: 20px;
    }

    /* Remove later*/
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    /* -- */

}

#products  {
    background-color: #ffffff;
    padding: 20px;

    img {
        float: left;
        margin: 7px 10px 0 0;
        opacity: 0.8;
    }
    /* Remove later*/
        border-left: 2px solid;
        border-right: 2px solid;
    /* -- */
}

#support  {
    background-color: @NGLFooterBackgroundColor;
    padding: 20px 20px 0px 20px;
    color: #f5f5f5;

    h2  {
        color: #f5f5f5;
    }
    #footer {
        padding: 10px 0px 0px 0px;
        text-align: center;
    }

    /* Remove later*/
        border-left: 2px solid #000000;
        border-right: 2px solid #000000;
        border-bottom: 2px solid #000000;
    /* -- */

}



/* --------- Navbar ------------------ */
@navbarHeight:                    40px;
@navbarBackground:                @NGLThemeColor;
@navbarBackgroundHighlight:       @grayDark;
@navbarLinkBackgroundHover:       transparent;

@navbarText:                      @grayDark;
@navbarLinkColor:                 @grayDark;
@navbarLinkColorHover:            #000000;

.navbar {
    padding-top: 0px;
    margin-bottom: 0px;

    .brand {
        color: @textColor;
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 2px;

        img {
            padding-right: 10px;
            margin-bottom: -5px;
        }

        span    {
            line-height: 1;
        }
    }
    .divider-vertical {
        border-style: 2px;
        height: 20px;
        margin-top: 10px;
    }

    .navbar-inner {
        background-color: @NGLThemeColor;
        background-image: none;
        background-repeat: none;
        border-radius: 0px 0px 0px 0px;
        box-shadow: none;
        min-height: 40px;
        padding-left: 0px;
        padding-right: 0px;
        -webkit-box-shadow: none;
        .reset-filter();

        .nav-collapse    {
            /* Customize font of the Menu items (bigger)*/
            margin-top: 5px;
            margin-bottom: 5px;

            li  {
                font-size: 16px;
                li  {
                    font-size: 13px;
                }
            }
        }
    }

    .nav .active > a, .navbar .nav .active > a:hover {
        background-color: transparent;
        border: 2px solid @grayDark;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }

    .nav .dropdown-toggle .caret, .navbar .nav .open.dropdown .caret {
        border-top-color: @grayDark;
    }

    .btn-navbar {
        background-color: #F5F5F5;
        background-image: none;
        border-color: none;
    }
}

/* Main Page Header */
#main-header  {

    //Extra padding for non-index page nav bars
    .navbar {
        padding-top: 10px;
    }

    background-color: @NGLThemeColor;
    padding: 0px 20px 0px 20px;

    color: #000000;
    /* Remove later*/
        border-top: 2px solid;
        border-left: 2px solid;
        border-right: 2px solid;
    /* -- */
}

/*-- Main Page Body */
#main-body   {
   background-color: @white;
   padding: 0px 20px 20px 20px;
/* Remove later*/
    border-left: 2px solid;
    border-right: 2px solid;
/* -- */

/* Default font-weight for Lucida Causual is very bold!*/
    h1, h2, h3, h4, h5, h6  {
        font-weight:500;
    }

    /* Make the default button bigger*/
    .btn    {
        font-size: 14px;
        line-height: 24px;
        border-color: @grayDark;
        border-width: 2px;
    }

    /* Styling the default accordion headers */
    .accordion-heading .accordion-toggle {
        font-size: 18px;
        color: @grayDark;
        img {
            height: 20px;
        }
        small {
            color: #999999;
            font-size: 11px;
        }
    }
    .accordion-group {
        border: 2px solid @grayLight;
    }
    .accordion-inner {
        border-top: 2px solid @grayLight;
        h2  {
            font-size: 16px;
            line-height: 24px;
            padding-right: 10px;
        }
    }

    /* Custom section for showing a list of additional resources */
    .resources-list
    {
        li  {
            font-size: 14px;
            padding-top: 5px;
            padding-bottom: 10px;
        }

        .btn    {
            margin-top: 5px;
        }
    }


    /* Customize the login form */
    .loginform    {
        fieldset    {
            padding-bottom: 20px;
        }
        .input-xlarge   {
            font-family: @baseFontFamily;
            font-size: 18px;
            font-weight: 100;
            height: 28px;
            display: block;
        }
        label   {
            font-size: 14px;
        }
        .btn    {
            font-family: @baseFontFamily;
            font-size: 20px
        }
    }

    /* Custom styles for page header */
    .ngl-page-header    {
        padding: 15px 0px 20px 0px;
    }
    .header-no-space {
        padding: 15px 0px 0px 0px;
    }

    /* Make the buttons for the activity toolbar smaller */
    .activitytools  {
        .btn    {
            font-size: 12px;
            line-height: 18px;
            border-color: #000000;
            border-width: 2px;
        }
        margin-bottom: 4px;
        margin-top: 4px;
    }

    /* Customize the breadcrumb - no border */
    .breadcrumb {
        background-color: none;
        background-image: none;
        border: 0px;

        margin-bottom: 10px;
    }

    /* Custom well, make darker, less padding */
    .dark-well {
        background-color: #DDDDDD;
        padding: 10px;
        margin-bottom: 5px;
    }

    /* Activity Engine Styles */

    #containerParent    {
        padding-top: 40px;
        padding-bottom: 40px;
        min-height: 40px;
    }

    #containerDiv  {
        border: 2px solid #2c2c2c;
        background-color: #ffffff;
        margin: auto;
    }

}

/*-- Main Page Footer */
#main-footer {
        background-color: @NGLFooterBackgroundColor;
        padding: 10px 20px 0px 20px;
        color: #f5f5f5;
        text-align: center;
        /* Remove later*/
            border-left: 2px solid #000000;
            border-right: 2px solid #000000;
            border-bottom: 2px solid #000000;
        /* -- */

}

.rightfloat {
    float: right;
}

.leftfloat {
    float: left;
}

#loadingIcon {
    display: none;
    float: left;
    margin-top:15px;
}

.clearboth {
    clear: both;
}

/*-- Icons with images */
[class^="icon-"]:last-child, [class*=" icon-"]:last-child {
}

.icon-search {
    background-position: -48px 0;
}

.icon-tag {
    background-position: 0 -48px;
}

.icon-barcode {
    background-position: -456px -24px;
}

[class^="icon-"], [class*=" icon-"] {
    background-image: url("../img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    width: 14px;
}