@baseFontFamily:    'Lucida Casual', 'Comic Sans MS', 'HelveticaNeue';
@NGLThemeColor:    #C8E1BD;
//@NGLThemeColor:    #F9E689;

#hero  {
    background-color: @NGLThemeColor;
    padding: 10px 20px 20px 20px;
    color: #000000;
    h1 {
        font-size: 40px;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: -1px;
        padding-bottom: 15px;
    }

    p {
        font-size: 24px;
        line-height: 28px;
    }

    p .btn {
        font-size: 20px;
    }

    /* Remove later*/
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    /* -- */

}

#products  {
    padding: 20px;

    img {
        float: left;
        margin: 7px 10px 0 0;
        opacity: 0.8;
    }

    /* Remove later*/
        border-left: 2px solid;
        border-right: 2px solid;
    /* -- */

}

#support  {
    background-color: #333333;
    padding: 20px 20px 0px 20px;
    color: #f5f5f5;

    h2  {
        color: #f5f5f5;
    }
    #footer {
        padding: 10px 0px 0px 0px;
        text-align: center;
    }

    /* Remove later*/
        border-left: 2px solid #000000;
        border-right: 2px solid #000000;
        border-bottom: 2px solid #000000;
    /* -- */

}

/* --------- Navbar ------------------ */
@navbarHeight:                    40px;
@navbarBackground:                @NGLThemeColor;
@navbarBackgroundHighlight:       @grayDark;
@navbarLinkBackgroundHover:       transparent;

@navbarText:                      @grayDark;
@navbarLinkColor:                 @grayDark;
@navbarLinkColorHover:            #000000;


.navbar {

    padding-top: 0px;
    margin-bottom: 0px;

    .brand {
        color: @textColor;
        font-size: 30px;
        font-weight: 400;

        img {
            padding-right: 10px;
        }
    }

    .navbar-inner {
        background-color: @NGLThemeColor;
        background-image: none;
        background-repeat: none;
        border-radius: 0px 0px 0px 0px;
        box-shadow: none;
        min-height: 40px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .nav .dropdown-toggle .caret, .navbar .nav .open.dropdown .caret {
        border-top-color: @grayDark;
    }

    .btn-navbar {
        background-color: #F5F5F5;
        background-image: none;
        border-color: none;
    }
}


