#pagecontent
{
    max-width: none;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    text-align: left;
    float: none;
    width: 100%;
}

#pagecontent img
{
    max-width: 100%;
    width: 100%;
    border: none;
}


.menu-bar
{
    max-width: none;
}

#eedition-container
{
    float:left;
    width:100%;
}

.eeditionpagediv
{
    float:left;
    width:50%;
}

.eeditionpagedivFirst
{
    width:100%;
    float:none;
    margin-left:auto;
    margin-right:auto;
}

.eeditionpagedivSecond
{
    display:none;

}

.zooming-tool {
    -moz-user-select: -moz-none;
    color: white;
    /*opacity: 0.2;*/
    position: fixed;
    text-shadow: 1px 1px 1px black;
    z-index: 2998;
    top: 0px;
    left: 0px;
}

.zoom-tool-postion1
{
    position:fixed;
    top: 0px;
    left: 0px;

}
.zoom-tool-postion2
{
    position:fixed;
    top: 0px;
    left: 0px;

}
.zooming-tool:hover {
    opacity:inherit;
}
.pager_bottom {
    background-color: #696969;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.pager_bottom .row {
    border-bottom: 1px solid #878787;
    margin-bottom: 6px;
    overflow: hidden;
}



.zoom_in {
    border-right: 1px solid #878787;
}

.zoom_in,.zoom_out {
    cursor: pointer;
    display: inline-block;
    padding: 5px 5px 3px;
}

.zoom_in_icon,.zoom_out_icon {
    background: url("/public/images/reader/eedition/plus.png") no-repeat scroll 50% 0 transparent;
    display: inline-block;
    height: 16px;
    width: 15px;
}

.zoom_in,.zoom_out {
    cursor: pointer;
    display: inline-block;
    padding: 5px 5px 3px;
}

.zoom_in.disabled .zoom_in_icon,.zoom_out.disabled .zoom_out_icon {
    background-position: 50% 0px;
}

.zoom_out_icon {
    background-image: url("/public/images/reader/eedition/minus.png");
}

.zoom_in_icon, .zoom_out_icon {

    display: inline-block;
    height: 16px;
    width: 15px;
}


/*
.enter_fullscreen,.exit_fullscreen {
    background: url("/public/images/reader/eedition/fullscreen.png") no-repeat scroll 50% 0 transparent;
    padding: 5% 0 5% 0;
    background-position:center;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    width: 10%;
}
.exit_fullscreen {
    background-image: url("/public/images/reader/eedition/exit-fullscreen.png");
}
*/
.audio1
{
    cursor:pointer;
    position: absolute;
    max-width: 24px;
}
#overlays
{
    position: absolute;
}

.pager_top
{
    background-color: #696969;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 5px 0 0 0;
}
.pagenumber
{
    border-bottom: 1px solid #878787;
}

.page_input
{
    background: none repeat scroll 0 0 #696969;
    border: 1px solid #696969;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 2px 0 #696969 inset;
    color: white;
    font-size: 12px;
    text-align: center;
    margin-bottom: 5px;
}
.decor
{
    font-size: 11px;
    font-style: italic;
}
.max_page
{
    font-size: 12px;
}
.prev_page
{
    cursor: pointer;
    display: inline-block;
    padding: 5px 5px 3px;
    border-right: 1px solid #878787;
}
.prev_page_icon
{
    background: url("/public/images/reader/eedition/navLeft.png") no-repeat scroll 50% 0 transparent;
    display: inline-block;
    height: 16px;
    width: 15px;
}

.next_page
{
    cursor: pointer;
    display: inline-block;
    padding: 5px 5px 3px;
}
.next_page_icon
{
    background: url("/public/images/reader/eedition/navRight.png") no-repeat scroll 50% 0 transparent;
    display: inline-block;
    height: 16px;
    width: 15px;
}
.overlay
{
    cursor:pointer;
    position: absolute;
}

.overlay-sp-0
{
    width:36px;
}

.overlay-sp-1
{
    width:44px;
}

.overlay-sp-2
{
    width:56px;
}

.overlay-sp-3
{
    width:72px;
}

.overlay-sp-4
{
    width:90px;
}

.overlay-sp-5
{
    width:108px;
}


.overlay-dp-2
{
    width:28px;
}

.overlay-dp-3
{
    width:36px;
}

.overlay-dp-4
{
    width:44px;
}

.overlay-dp-5
{
    width:56px;
}

.overlay-dp-6
{
    width:72px;
}

.overlay-dp-7
{
    width:90px;
}

.overlay-dp-8
{
    width:108px;
}


.loading-indicator {
    height: 80px;
    width: 80px;
    background: url( '/public/images/reader/loading.gif' );
    background-repeat: no-repeat;
    background-position: center center;
}

.loading-indicator-overlay {
    background-color: #FFFFFF;
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

.book-toolbar-wrapper
{
    position:fixed;
    bottom:0px;
    width:100%;
    left:0
}

.book-toolbar
{
    height: 62px;
    margin: 0 auto 30px;

    width: 500px;
}
.tool-row1
{   -webkit-border-radius: 8px 0px 0px 8px;
    -moz-border-radius: 8px 0px 0px 8px;
    border-radius: 8px 0px 0px 8px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    color: #10385a;
    float: left;
}
.tool-row2
{   -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    margin-left: 2px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    color: #10385a;
    float: left;

}

.tool-row3
{   -webkit-border-radius:   0px 0px 0px 0px;
    -moz-border-radius:   0px 0px 0px 0px;
    border-radius:   0px 0px 0px 0px;
    margin-left: 2px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    color: #10385a;
    float: left;
}
.tool-row4
{   -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    margin-left: 2px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    color: #10385a;
    float: left;
    width:60px;
}
.tool-row5
{   -webkit-border-radius:  0px 8px 8px 0px;
    -moz-border-radius:  0px 8px 8px 0px;
    border-radius:  0px 8px 8px 0px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    margin-left: 2px;
    color: #10385a;
    float: left;
    width:60px;
}
.ee-nav
{
    color: #fff;
    font-family: "Trebuchet MS","Arial","Helvetica","Verdana","sans-serif";
    text-align: center;
    padding: 10px 10px 10px 10px;
    min-width: 116px;
    font-weight: bold;
    min-height: 22px;
    font-size: 16px;
}

.ee-prev
{
    background: url("/public/images/reader/common/Previous_Disable.png") no-repeat scroll 0 0 transparent;
    background-position:center;
    float: left;
    cursor: pointer;
    min-height: 22px;
    min-width: 15px;
    padding: 10px 15px 10px 14px;
}
.ee-prev:hover
{
    background: url("/public/images/reader/common/Previous.png") no-repeat scroll 0 0 transparent;
    background-position:center;
    float: left;
    cursor: pointer;
    min-height: 22px;
    min-width: 15px;
    padding: 10px 15px 10px 14px;
}

.ee-next
{
    background: url("/public/images/reader/common/Next_Disable.png") no-repeat scroll 0 0 transparent;
    background-position:center;
    float: left;
    cursor: pointer;
    min-height: 22px;
    min-width: 15px;
    padding: 10px 15px 10px 14px;
}
.ee-next:hover
{
    background: url("/public/images/reader/common/Next.png") no-repeat scroll 0 0 transparent;
    background-position:center;
    float: left;
    cursor: pointer;
    min-height: 22px;
    min-width: 15px;
    padding: 10px 15px 10px 14px;
}

.ee-zoomin
{
    background: url("/public/images/reader/common/ZoomPlus_Disable.png") no-repeat scroll 0 0 transparent;
    background-position:center;
    float: left;
    cursor: pointer;
    min-height: 22px;
    min-width: 21px;
    padding: 10px 12px 10px 11px;
}
.ee-zoomin:hover
{
    background: url("/public/images/reader/common/ZoomPlus.png") no-repeat scroll 0 0 transparent;
    background-position:center;
    float: left;
    cursor: pointer;
    min-height: 22px;
    min-width: 21px;
    padding: 10px 12px 10px 11px;

}

.ee-zoomout
{
    background: url("/public/images/reader/common/ZoomMinus_Disable.png") no-repeat scroll 0 0 transparent;
    background-position:center;
    float: left;
    cursor: pointer;
    min-height: 21px;
    min-width: 21px;
    padding: 10px 12px 10px 11px;
}
.ee-zoomout:hover
{
    background: url("/public/images/reader/common/ZoomMinus.png") no-repeat scroll 0 0 transparent;
    background-position:center;
    float: left;
    cursor: pointer;
    min-height: 21px;
    min-width: 21px;
    padding: 10px 12px 10px 11px;
}

.ee-layout-double
{
    background: url("/public/images/reader/common/DoublePage_Disable.png") no-repeat scroll 0 0 transparent;
    background-position:center;
    float: left;
    cursor: pointer;
    min-height: 22px;
    min-width: 33px;
    width: 45px;
    padding: 10px 10px 10px 10px;
}
.ee-layout-double:hover
{
    background: url("/public/images/reader/common/DoublePage.png") no-repeat scroll 0 0 transparent;
    background-position:center;
    float: left;
    cursor: pointer;
    min-height: 22px;
    min-width: 33px;
    width: 45px;
    padding: 10px 10px 10px 10px;
}
.ee-layout-single
{
    background: url("/public/images/reader/common/SinglePage_Disable.png") no-repeat scroll 0 0 transparent;
    background-position:center;
    float: left;
    cursor: pointer;
    min-height: 22px;
    min-width: 33px;
    width: 45px;
    padding: 10px 10px 10px 10px;
}
.ee-layout-single:hover
{
    background: url("/public/images/reader/common/SinglePage.png") no-repeat scroll 0 0 transparent;
    background-position:center;
    float: left;
    cursor: pointer;
    min-height: 22px;
    min-width: 33px;
    width: 45px;
    padding: 10px 10px 10px 10px;
}
.enter_fullscreen
{
    background: url("/public/images/reader/common/Fullscreen_Disable.png") no-repeat scroll 0 0 transparent;
    background-position:center;
    cursor: pointer;
    min-width: 22px;
    min-height: 22px;
    padding: 10px 10px 10px 10px;
}
.enter_fullscreen:hover
{
    background: url("/public/images/reader/common/Fullscreen.png") no-repeat scroll 0 0 transparent;
    background-position:center;
    cursor: pointer;
    min-width: 22px;
    min-height: 22px;
    padding: 10px 10px 10px 10px;
}
.exit_fullscreen
{
    background: url("/public/images/reader/common/Minimize_Disable.png") no-repeat scroll 0 0 transparent;
    background-position:center;
    cursor: pointer;
    min-width: 22px;
    min-height: 22px;
    padding: 10px 10px 10px 10px;
}
.exit_fullscreen :hover
{
    background: url("/public/images/reader/common/Minimize.png") no-repeat scroll 0 0 transparent;
    background-position:center;
    cursor: pointer;
    min-width: 22px;
    min-height: 22px;
    padding: 10px 10px 10px 10px;
}
.font-color-page-count
{
    color: #A0BeDe
}
.menu-bar
{
    dispaly: none;
}


/* structure.css - END*/

/* all-eedition-query.css - START*/


/* For the range of 320 - 640 */
@media screen and (min-width: 320px) and (max-width: 640px)
{
    /* This should remain blank, as the main CSS part should cater this range. */



    #eeditionpagedivA
    {
        width:100%;
        float:none;
        margin-left:auto;
        margin-right:auto;
    }

    #eeditionpagedivB
    {
        display:none;

    }
}


/* For the range of 641 - 960 */
@media screen and (min-width: 641px) and (max-width: 960px)
{

    #eeditionpagedivA
    {
        width:100%;
        float:none;
        margin-left:auto;
        margin-right:auto;
    }

    #eeditionpagedivB
    {
        display:none;

    }
}



/* all-eedition-query.css END*/



