@NGConnectThemeColor: #79e0fe;
.theme-ngconnect  {
    #hero  {
    //Overrided the NGLTheme color
        background-color: @NGConnectThemeColor;
    }

    #main-header  {
        background-color: @NGConnectThemeColor;
    }

    #main-body  {
        .large-button-icons {
            .btn    {
                width: 90%;
                font-size: 22px;
                line-height: 48px;
                i   {
                    font-size: 36px;
                    float:left;
                    margin-top: 5px;
                    margin-left: 20px;
                }
            }

            h2 {
                margin-top: 10px;
            }
        }
    }

    .navbar {
        .navbar-inner {
            background-color: @NGConnectThemeColor;
        }
    }
    // Active nav items
    .navbar .nav .active > a,
    .navbar .nav .active > a:hover {
        background-color: @NGConnectThemeColor;
    }

    // Dividers (basically a vertical hr)
    .navbar .divider-vertical {
        background-color: @NGConnectThemeColor;
    }



    #pagecontent {
        float: none;
        width: 984px;
        text-align: left;
        margin-left: auto;
        margin-right: auto;

        padding: 0px;
        /* -- */
    }

    .eeditionpagediv {
        float: left;
        width: 50%;

        img {

              opacity : 0.7;
              filter: alpha(opacity=40); // msie
        }
    }
}
