<!DOCTYPE html>
#{set title:'NGL Looking Ahead' /}
#{if flash.get("application.delivery") == "traditional"}
<!-- This section is not needed for single page apps -->
<html>
<head>
#{layout-html-header /}
</head>
<body class="theme-myelt" #{if "ar".equals(lang.toString())}dir="rtl"#{/if}>
#{/if}

<!-- Top Green section - the Big Hero Unit -->
<div id="hero" class="container">
    <!-- Top  Navbar for logo, brand, menu, and language selection -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse"
                   data-target=".nav-collapse">
                    <!-- This is shown for mobile devices - collapsed icon -->
                    <i class="icon-align-justify"></i>
                </a>
                <a class="brand" href="#{route-uri-x controller:'ngldemo' , action:'splash'/}"><img src="@{'/public/images/ngldemo/placeholder_ng_logo.png'}" alt="">NGL</a>
                <div class="nav-collapse">
                    <ul class="nav pull-right">
                    #{if session.get("user") != null }
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="@{'/public/images/glyphicons/glyphicons_003_user.png'}"><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="?lang=en">${session.get("user")} (profile)</a></li>
                                <li class="divider"></li>
                                <li><a href="?lang=en">Change Password</a></li>
                                <li><a href="?lang=ja">Preferences</a></li>
                                <li><a href="#{route-uri-x controller:'ngldemo' , action:'logout' /}">Sign out</a></li>
                            </ul>
                        </li>
                        <li class="divider-vertical"></li>
                    #{/if}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">&{'global.header.langsel'}<span>(${lang.toString()})</span><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="?lang=en">English</a></li>
                                <li><a href="?lang=ja">Japanease</a></li>
                                <li><a href="?lang=ar">Arabic</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="row">
            <div class="span6">
            <h1>&{'home.hero.heading1'}</h1>
            <p>&{'home.hero.heading2'}</p>
            #{if session.get("user") == null }
                <p><a class="btn btn-large" href="#{route-uri-x controller:'ngldemo', action:'login' /}">&{'registration.new'} <small>(&{'registration.reg'})</small></a></p>
                <p><a class="btn btn-large" href="#{route-uri-x controller:'ngldemo' , action:'login' /}">&{'registration.returning'} <small>(&{'registration.signin'})</small></a></p>
            #{/if}
            #{else}
                <p><a class="btn btn-large" href="#{route-uri-x controller:'ngldemo' , action:'home' /}">&{'courses.title.2'} <small>(${session.get("user")})</small></a></p>
            #{/else}
        </div>

        <div class="span5 offset1">
            <div id="carouseltop" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="@{'/public/images/ngldemo/placeholder_459_254.png'}" alt="">
                    </div>
                    <div class="item">
                        <img src="@{'/public/images/ngldemo/placeholder_459_254.png'}" alt="">
                    </div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#carouseltop" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#carouseltop" data-slide="next">&rsaquo;</a>
            </div>
            <p><a class="btn btn-large" href="">&{'home.hero.tour'}</a></p>
        </div>
    </div>
</div>  <!-- End of Hero Unit -->

<!-- Three column, but responsive, product descriptions -->
<div id="products" class="container">
    <div class="row">
        <div class="span4">
            <img src="@{'/public/images/glyphicons/glyphicons_030_pencil.png'}">
            <h3>eEnglish</h3>
            <p>&{'global.loremipsum.3'}</p>
        </div>
        <div class="span4">
            <img src="@{'/public/images/glyphicons/glyphicons_010_envelope.png'}">
            <h3>Grammar Cafe</h3>
            <p>&{'global.loremipsum.3'}</p>
        </div>
        <div class="span4">
            <img src="@{'/public/images/glyphicons/glyphicons_039_notes.png'}">
            <h3>TOEFL iBT&reg; Online</h3>
            <p>&{'global.loremipsum.3'}</p>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <img src="@{'/public/images/glyphicons/glyphicons_042_pie_chart.png'}">
            <h3>Milestones</h3>
            <p>&{'global.loremipsum.3'}</p>
        </div>
        <div class="span4">
            <img src="@{'/public/images/glyphicons/glyphicons_060_compass.png'}">
            <h3>World Pass Online</h3>
            <p>&{'global.loremipsum.3'}</p>
        </div>
        <div class="span4">
            <img src="@{'/public/images/glyphicons/glyphicons_163_iphone.png'}">
            <h3>My FCE</h3>
            <p>&{'global.loremipsum.3'}</p>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <img src="@{'/public/images/glyphicons/glyphicons_043_group.png'}">
            <h3>Visions</h3>
            <p>&{'global.loremipsum.3'}</p>
        </div>
    </div>
</div>

#{section-html-site-support /}

#{if flash.get("application.delivery") == "traditional"}
<!-- This section is not needed for single page apps -->
<!-- Le javascript
================================================== -->
#{layout-scripts-global /}
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
#{/if}
