#{extends 'NGLDemo/layouts/layout.html' /}
#{set title:'NGL Looking Ahead | Page not active' /}


<h1 class="ngl-page-header">Page not active <i class="icon-flag icon-heading"></i></h1>

<div class="row">
    <div class="span12 section-large-font">
       <p>&{'myelt.noactive.para1'}</p>
       <p>&{'myelt.noactive.para2'}</p>
       <ul>
           <li><a href="#{route-uri-x controller:'ngldemo' , action:'home'/}">&{'myelt.noactive.anchor.course'}</a> - &{'myelt.noactive.anchor.course.para'}</li>
           <li><a href="#{route-uri-x controller:'ngldemo' , action:'activity'/}">&{'myelt.noactive.anchor.assignment'}</a> – &{'myelt.noactive.anchor.assignment.para'}</li>
           <li><a href="#{route-uri-x controller:'ngldemo' , action:'index'/}">&{'myelt.noactive.anchor.siteindex'}</a> – &{'myelt.noactive.anchor.siteindex.para'}</li>
       </ul>
       <p>&{'myelt.noactive.para3'}</p>
       <p>&{'myelt.noactive.para4.beforelink'}  <a href="/">Restart Demo</a> &{'myelt.noactive.para4.afterlink'}</p>


    </div>
</div>


