#{extends 'NGLDemo/layouts/layout.html' /}
#{set title:'NGL Looking Ahead | Page not active' /}


<h1 class="ngl-page-header">Page not active <i class="icon-flag icon-heading"></i></h1>

<div class="row">
    <div class="span12 section-large-font">
       <p>This page/feature is currently not active. You're reviewing demo wire-frames in support of a concept demo for the National Geographic Learning (NGL) "looking ahead" strategy; many parts and pages of this demo (version 0.1) are not active at this time.</p>
       <p>You can use the browser's back button to return to previous page. Alternatively, to return to an active page of the demo, please make of the following selections</p>
       <ul>
           <li><a href="#{route-uri-x controller:'ngldemo' , action:'home'/}">Courses page</a> - You can also use link on the top menu bar to navigate to this page.</li>
           <li><a href="#{route-uri-x controller:'ngldemo' , action:'activity'/}">Assignment page</a> – You can also use link on the top menu bar to navigate to this page.</li>
           <li><a href="#{route-uri-x controller:'ngldemo' , action:'index'/}">Site index</a> – You can also click on the logo on your top left corner of the screen to navigate to this page.</li>
       </ul>
       <p>For a complete set of alternate delivery and/or skin options, please continue to click on the top left corner of your page (multiple times), till you reach the first page (with demo options).</p>
       <p>In case none of the above works, click on this link  <a href="/">Restart Demo</a> to re-start the demo from the begining.</p>


    </div>
</div>


