#{greenscript.js "javascripts/global-init", output: 'all'/}

#{if flash.get("application.delivery") == "offline"}
<!-- This scripts are needed for offline apps only-->
<script src="@{'/public/offline/preloaded-views.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/offline/cordova-1.7.0.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
#{/if}

<script type="text/javascript">

    jQuery(document).ready(function() {
        $('.carousel').carousel();
        $().dropdown();
    });

</script>
