<script>
    #{if flash.get("application.delivery") == "offline"}
    NGLApplicationConf  = new function() {
        this.offline_mode = 1;
        this.skin="myelt";
        //this.skin="ngconnect";
    };
    #{/if}#{else}
    NGLApplicationConf  = new function() {
        this.offline_mode = 0;
        this.skin="myelt";
        //this.skin="ngconnect";
    };
    #{/else}
</script>

#{greenscript.js "javascripts/global-init", output: 'all'/}

#{if flash.get("application.delivery") == "offline"}
<!-- This scripts are needed for offline apps only-->
<script src="@{'/public/offline/preloaded-views.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/offline/android/assets/www/cordova-1.7.0.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
#{/if}

<script type="text/javascript">

    jQuery(document).ready(function() {
        $('.carousel').carousel();
        $().dropdown();
        $('[rel*="tooltip"]').tooltip({delay:500,animation:false,placement:'bottom'});
    });

</script>
