<script src="@{'/public/javascripts/activityengine/kinetic-v3.9.3.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/activityengine/raf.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/activityengine/animate.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/activityengine/scroller.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/activityengine/easyScroller.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/activityengine/container.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/activityengine/activity.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/activityengine/animationactivity.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/activityengine/activity-engine-init.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>

<script type="text/javascript">

    jQuery(document).ready(function() {

        ActivityEngineInit.init('${lang.toString()}');

    });
</script>
