<script src="@{'/public/javascripts/jquery-1.7.1.min.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/bootstrap/js/bootstrap-carousel.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/bootstrap/js/bootstrap-tooltip.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/bootstrap/js/bootstrap-popover.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/bootstrap/js/bootstrap-dropdown.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/bootstrap/js/bootstrap-collapse.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/bootstrap/js/bootstrap-button.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/bootstrap/js/bootstrap-modal.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/bootstrap/js/bootstrap-transition.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/hide-addressbar.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>

<script type="text/javascript">
    $('.carousel').carousel();
    $().dropdown();
    $('.toggle-on').button('toggle')
</script>
