<!-- Top Green Container-->
<div id="main-header" class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse"
                   data-target=".nav-collapse">
                    <!-- This is shown for mobile devices - collapsed icon -->
                    <i class="icon-align-justify"></i>
                </a>
                <a class="brand" href="#{route-uri-x controller:'ngldemo' , action:'index'/}">
                    <img src="@{'/public/images/ngldemo/placeholder_ng_logo.png'}" alt="">#{text-product-name /}
                </a>
                <div id="loadingIcon">
                    <img src="@{'/public/images/ajax_loader.gif'}">
                </div>
                <div class="nav-collapse">

                    <ul class="nav pull-right">
                    #{if session.get("user") != null }

                       #{if flash.get("application.theme") == "myelt" }
                        <li class="${request.action =~ /home/ ? 'active' : ''}"><a href=#{route-uri-x controller:'ngldemo' , action:'home' /}>&{'home.header.courses'}</a></li>
                        <li class="${request.action =~ /activity/ ? 'active' : ''}"><a href=#{route-uri-x controller:'ngldemo' , action:'activity' /}>&{'home.header.assignment'}</a></li>
                        <li><a href="#">&{'home.header.materials'}</a></li>
                        <li><a href="#">&{'home.header.grades'}</a></li>
                       #{/if}
                       #{else}
                         <li class="${request.action =~ /home/ ? 'active' : ''}"><a href=#{route-uri-x controller:'ngldemo' , action:'home' /}>Home</a></li>
                         <li class="${request.action =~ /reader/ ? 'active' : ''}"><a href=#{route-uri-x controller:'ngldemo' , action:'reader' /}>Books</a></li>
                         <li class="${request.action =~ /activity/ ? 'active' : ''}"><a href="#">Library</a></li>
                       #{/else}

                        <li class="divider-vertical"></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="@{'/public/images/glyphicons/glyphicons_003_user.png'}"><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                               <li><a href="?lang=en">${session.get("user")} (profile)</a></li>
                               <li class="divider"></li>
                                #{if flash.get("application.delivery") == "offline"}
                                    <li><a href="#">&{'home.header.login.switchonlinefromoffline'}</a></li>
                                #{/if}
                                #{else}
                                    <li><a href="?lang=en">&{'home.header.login.changepassword'}</a></li>
                                    <li><a href="?lang=ja">&{'home.header.login.preferences'}</a></li>
                                    <li><a href="#{route-uri-x controller:'ngldemo', action:'logout' /}">&{'home.header.login.signout'}</a></li>
                                #{/else}
                            </ul>
                        </li>
                    #{/if}
                    #{else}
                        <li><a href="#">&{'home.help'}</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="#">&{'registration.reg'}</a></li>
                    #{/else}
                        #{if flash.get("application.delivery") != "offline"}
                            <li class="divider-vertical"></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">&{'global.header.langsel'}<span>(${lang.toString()})</span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                #{if flash.get("application.delivery") == "traditional"}
                                    <li><a href="?lang=en">English</a></li>
                                    <li><a href="?lang=ja">Japanease</a></li>
                                    <li><a href="?lang=ar">Arabic</a></li>
                                #{/if}
                                #{else}
                                    <li><a href="#{route-uri-x controller:'ngldemo' , action:'language/en'/}">English</a></li>
                                    <li><a href="#{route-uri-x controller:'ngldemo' , action:'language/ja'/}">Japanease</a></li>
                                    <li><a href="#{route-uri-x controller:'ngldemo' , action:'language/ar'/}">Arabic</a></li>
                                #{/else}
                                </ul>
                            </li>
                        #{/if}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>   <!-- End of Nav bar-->
</div>  <!-- End of Container -->
