<div id="support" class="container">
    <div class="row">
        <div class="span4">
            <h2>&{'home.footer.teachers.heading1'}</h2>
            <ul>
                <li>&{'home.footer.teachers.l1'}</li>
                <li>&{'home.footer.teachers.l2'}</li>
                <li>&{'home.footer.teachers.l3'}</li>
                <li>&{'home.footer.teachers.l4'}</li>
                <li>&{'home.footer.teachers.l5'}</li>
                <li>&{'home.footer.teachers.l6'}</li>
            </ul>
        </div>
        <div class="span4">
            <h2>&{'home.footer.students.heading1'}</h2>
            <ul>
                <li>&{'home.footer.students.l1'}</li>
                <li>&{'home.footer.students.l2'}</li>
                <li>&{'home.footer.students.l3'}</li>
                <li>&{'home.footer.students.l4'}</li>
            </ul>
        </div>
        <div class="span4">
            <h2>&{'home.footer.about.heading1'}</h2>
            <p>&{'home.footer.about.p1'}</p>
        </div>
    </div>
    <div id="footer" class="row">
        <div class="span12">
            <p>&{'global.footer.copyright'}</p>
        </div>
    </div>
</div>
