#{extends 'NGLDemo/layout.html' /}


<div class="row">
    <div class="span2">
        <p>&{'global.loremipsum.3'}</p>
    </div>
    <div class="span2">
        <p>&{'global.loremipsum.3'}</p>
    </div>
    <div class="span2">
        <p>&{'global.loremipsum.3'}</p>
    </div>
    <div class="span2">
        <p>&{'global.loremipsum.3'}</p>
    </div>
    <div class="span2">
        <p>&{'global.loremipsum.3'}</p>
    </div>
    <div class="span2">
        <p>&{'global.loremipsum.3'}</p>
    </div>
</div>
<div class="row">
    <div class="span12">
        <a class="btn btn-large" href="@{NGLDemo.launch_activity()}">Launch Activity</a></p>
    </div>
</div>


