<!DOCTYPE html>
#{set title:'NGL Looking Ahead | Home' /}
#{if flash.get("application.delivery") == "traditional"}
<!-- This section is not needed for single page apps -->
<html lang="en">
<head>
#{layout-html-header /}
</head>
<body class="theme-${flash.get("application.theme")}" #{if "ar".equals(lang.toString())}dir="rtl"#{/if}>
#{/if}

<!-- Top Green section - the Big Hero Unit -->
<div id="hero" class="container">
    <!-- Top  Navbar for logo, brand, menu, and language selection -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse"
                   data-target=".nav-collapse">
                    <!-- This is shown for mobile devices - collapsed icon -->
                    <i class="icon-align-justify"></i>
                </a>
                <a class="brand" href="/">
                    <img src="@{'/public/images/ngldemo/placeholder_ng_logo.png'}" alt="">#{text-product-name /}
                </a>
                <div class="nav-collapse">
                    <ul class="nav pull-right">
                    #{if session.get("user") != null }
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="@{'/public/images/glyphicons/glyphicons_003_user.png'}"><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="?lang=en">${session.get("user")} (profile)</a></li>
                                <li class="divider"></li>
                                #{if flash.get("application.delivery") == "offline"}
                                    <li><a href="#">&{'home.header.login.switchonlinefromoffline'}</a></li>
                                #{/if}
                                #{else}
                                    <li><a href="#">&{'home.header.login.changepassword'}</a></li>
                                    <li><a href="#">&{'home.header.login.preferences'}</a></li>
                                    <li><a href="#{route-uri-x controller:'ngldemo', action:'logout' /}">&{'home.header.login.signout'}</a></li>
                                #{/else}
                            </ul>
                        </li>
                    #{/if}
                    #{if (flash.get("application.delivery") != "offline" && session.user != null)}
                        <li class="divider-vertical"></li>
                    #{/if}
                    #{if flash.get("application.delivery") != "offline" }
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">&{'global.header.langsel'}<span>(${lang.toString()})</span><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                            #{if flash.get("application.delivery") == "traditional"}
                                <li><a href="?lang=en">English</a></li>
                                <li><a href="?lang=ja">Japanese</a></li>
                                <li><a href="?lang=ar">Arabic</a></li>
                            #{/if}
                            #{else}
                                <li><a href="#{route-uri-x controller:'ngldemo' , action:'language/en'/}">English</a></li>
                                <li><a href="#{route-uri-x controller:'ngldemo' , action:'language/ja'/}">Japanese</a></li>
                                <li><a href="#{route-uri-x controller:'ngldemo' , action:'language/ar'/}">Arabic</a></li>
                            #{/else}
                            </ul>
                        </li>
                    #{/if}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="row">
            <div class="span8">
            <h1>&{'home.hero.myng.heading1'}</h1>
            <p>&{'home.hero.myng.heading2'}</p>
            <p><a class="btn btn-large" href="#">&{'home.hero.tour'}</a></p>
        </div>

        <div class="span4 large-home-buttons">
            #{if session.get("user") == null }
                <p><a class="btn" href="#{route-uri-x controller:'ngldemo', action:'login' /}"><i class="icon-star-empty"></i><span>&{'registration.returning.students'} <small>(&{'registration.signin'})</small></span></a></p>
                <p><a class="btn" href="#{route-uri-x controller:'ngldemo' , action:'login' /}"><i class="icon-calendar"></i><span>&{'registration.returning.educators'} <small>(&{'registration.signin'})</small></span></a></p>
            #{/if}
            #{else}
                <p><a class="btn" href="#{route-uri-x controller:'ngldemo' , action:'home' /}"><i class="icon-home"></i><span>&{'products.science.h1'} &{'products.menu.home'}<small>(#{text-user-name /})</small></span></a></p>
                <p><a class="btn" href="#{route-uri-x controller:'ngldemo' , action:'reader' /}"><i class="icon-bookmark"></i><span>&{'products.books.start'} <small>(Earth Science)</small></span></a></p>
            #{/else}

        </div>
    </div>
</div>  <!-- End of Hero Unit -->
<!-- Three column, but responsive, product descriptions -->
<div id="products" class="container">
    <div class="row">
        <div class="span4">
            <img alt="Reach product icon" src="@{'/public/images/glyphicons/glyphicons_080_retweet.png'}">
            <h3>Reach</h3>
            <p>&{'global.loremipsum.3'}</p>
        </div>
        <div class="span4">
            <img alt="Reach for Reading product icon" src="@{'/public/images/glyphicons/glyphicons_081_refresh.png'}">
            <h3>Reach for Reading</h3>
            <p>&{'global.loremipsum.3'}</p>
        </div>
        <div class="span4">
            <img alt="Science product icon" src="@{'/public/images/glyphicons/glyphicons_320_filter.png'}">
            <h3>Science</h3>
            <p>&{'global.loremipsum.3'}</p>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <img alt="World Cultures & Goegraphy product icon" src="@{'/public/images/glyphicons/glyphicons_340_globe.png'}">
            <h3>World Cultures and Geography</h3>
            <p>&{'global.loremipsum.3'}</p>
        </div>
        <div class="span4">
            <img alt="Our World product icon" src="@{'/public/images/glyphicons/glyphicons_242_google_maps.png'}">
            <h3>Our World</h3>
            <p>&{'global.loremipsum.3'}</p>
        </div>
        <div class="span4">
            <img alt="Comprehension Coach product icon" src="@{'/public/images/glyphicons/glyphicons_077_headset.png'}">
            <h3>Comprehension Coach</h3>
            <p>&{'global.loremipsum.3'}</p>
        </div>
    </div>
</div>
#{section-html-site-support /}

#{if flash.get("application.delivery") == "traditional"}
<!-- This section is not needed for single page apps -->
<!-- Le javascript
================================================== -->
#{layout-scripts-global /}
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
#{/if}
