<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="${_response_encoding}">
    <title>Rumble in the Jungle!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le stylesheets-->
    <link rel="stylesheet" media="screen" href="@{'/public/bootstrap/less/bootstrap.less'}"/>
    <link rel="stylesheet" media="screen" href="@{'/public/bootstrap/less/responsive.less'}"/>
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/custom.less'}"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">


</head>
<body>
<div class="container">

    <div class="row">
        <div class="span12">
            <h1>NGL</h1>
        </div>
    </div>

    <div class="row">
        <div class="span5">
            <h2>Online classroom for english learning</h2>
            <p>Looking for a quick and easy way to implement new and exiting</p>
            <a class="btn btn-primary btn-large" href="">New Users (Register)</a>
            <a class="btn btn-large" href="">Returning Users (Sign In)</a>
        </div>

        <div class="span7">
            <div id="myeltCarousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="@{'/public/images/ngldemo/home/gc.png'}" alt="">
                        <div class="carousel-caption">
                            <h4>Grammar Cafe</h4>
                            <p>.....</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="@{'/public/images/ngldemo/home/gc.png'}" alt="">
                        <div class="carousel-caption">
                            <h4>Vision</h4>
                            <p>......</p>
                        </div>
                    </div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myeltCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myeltCarousel" data-slide="next">&rsaquo;</a>
            </div>
            <a class="btn btn-info btn-large" href="">Take a Tour</a>
        </div>
    </div>
</div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="@{'/public/javascripts/jquery-1.7.1.min.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/bootstrap/js/bootstrap-carousel.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/bootstrap/js/bootstrap-modal.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/bootstrap/js/bootstrap-tooltip.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/bootstrap/js/bootstrap-popover.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/bootstrap/js/bootstrap-transition.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>

<script type="text/javascript">
    $('.carousel').carousel();
    $('.popover-test').popover();
    $('.tooltip-test').tooltip();
</script>

</body>
</html>

