#{extends 'NGLDemo/layout.html' /}
<h1>&{'coursematerials.title'}</h1>
<div class="btn-toolbar rightfloat">
    <div class="btn-group">
        <a class="btn btn-small" href="#"><i class="icon-arrow-left"></i></a>
        <a class="btn btn-small" href="#">&{'activity.tools.tableofcontents'}</a>
        <a class="btn btn-small" href="#"><i class="icon-arrow-right"></i></a>
    </div>
    <div class="btn-group">
        <a class="btn btn-small" href="#">&{'activity.tools.retake'}</a>
    </div>
    <div class="btn-group">
        <a class="btn btn-small" href="#">&{'activity.tools.submit'}</a>
    </div>
</div>
<div class="clearboth"></div>

<div class="well">
    <h2>Milestones Tracker</h2>
    <h4>Drag & Drop, Form a Sentence</h4>
    <p>&{'global.loremipsum.3'} </p>

        <div id="engine"></div>
        <div class="row">
            <div class="span10 offset1">
                <img src="@{'/public/images/ngldemo/dummy_activity.png'}">
            </div>
        </div>
        <div class="row">
           <div class="span10 offset1">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <a class="btn btn-large" href="#">&{'activity.tools.shownanswers'}</a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-large" href="#"> &lt;&lt; </a>
                        <a class="btn btn-large" href="#">&{'activity.tools.1of10'}</a>
                        <a class="btn btn-large" href="#"> &gt;&gt; </a>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="btn-toolbar rightfloat">
    <div class="btn-group">
        <a class="btn btn-small" href="#"><i class="icon-arrow-left"></i></a>
        <a class="btn btn-small" href="#">&{'activity.tools.tableofcontents'}</a>
        <a class="btn btn-small" href="#"><i class="icon-arrow-right"></i></a>
    </div>
    <div class="btn-group">
        <a class="btn btn-small" href="#">&{'activity.tools.retake'}</a>
    </div>
    <div class="btn-group">
        <a class="btn btn-small" href="#">&{'activity.tools.submit'}</a>
    </div>
</div>
<div class="clearboth"></div>