#{extends 'ngldemo/layouts/layout.html' /}

<h1 class="ngl-page-header">&{'login.h1'}</h1>

<div class="row">
    <div class="span12">

        <form class="well loginform" action="#home"
              method="post"
              accept-charset="utf-8" enctype="application/x-www-form-urlencoded">

            <label>&{'login.h2'}</label>

        #{if flash.error}
            <div class="alert alert-error">&{flash.error}</div>
        #{/if}
        #{if flash.success}
            <div class="alert alert-success">&{flash.success}</div>
        #{/if}
            <fieldset>
                <input type="text" name="username" class="input-xlarge" placeholder="&{'login.email'}" value="${flash.username}">
                <input type="password" name="password" class="input-xlarge" placeholder="&{'login.password'}">
                <label class="checkbox">
                    <input type="checkbox" name="remember" ${flash.remember ? 'checked="true"' : ''}> &{'login.rememberme'}</label>
            </fieldset>
            <p><a href="#{route-uri '/ngldemo/home'/} " class="btn btn-large">&{'login.button.action'} <small>(&{'login.button.small'})</small></a></p>
        </form>
    </div>
</div>


