#{extends 'NGLDemo/layouts/layout.html' /}
#{set title:'NGL Looking Ahead | Sign in' /}

<h1 class="ngl-page-header">&{'login.h1'}</h1>

<div class="row">
    <div class="span12">

        <form class="well loginform" action="#{route-uri-x controller:'ngldemo' , action:'authenticate'/}"
              method="post"
              accept-charset="utf-8" enctype="application/x-www-form-urlencoded">

            <label>&{'login.h2'}</label>

        #{if flash.error}
            <div class="alert alert-error">&{flash.error}</div>
        #{/if}
        #{if flash.success}
            <div class="alert alert-success">&{flash.success}</div>
        #{/if}
            <fieldset>
                <input type="text" id="username" name="username" class="input-xlarge" placeholder="&{'login.email'}" value="${flash.username}">
                <input type="password" name="password" class="input-xlarge" placeholder="&{'login.password'}">
                <label class="checkbox">
                    <input type="checkbox" name="remember" ${flash.remember ? 'checked="true"' : ''}> &{'login.rememberme'}</label>
            </fieldset>
        #{if flash.get("application.delivery") == "traditional"}
            <p><button type="submit" class="btn btn-large">&{'login.button.action'} <small>(&{'login.button.small'})</small></button></p>
        #{/if} #{else}
            <p><a href="#{route-uri-x controller:'ngldemo' , action:'authenticate'/}" class="btn btn-large">&{'login.button.action'} <small>(&{'login.button.small'})</small></a></p>
        #{/else}

        </form>
    </div>
</div>


