#{extends 'NGLDemo/layouts/layout.html' /}
#{set title:'NGL Looking Ahead | Page not active' /}


<h1 class="ngl-page-header">&{'ngconnect.noactive.title'}<i class="icon-flag icon-heading"></i></h1>

<div class="row">
    <div class="span12 section-large-font">
       <p>&{'ngconnect.noactive.para1'}</p>
       <p>&{'ngconnect.noactive.para2'}</p>
       <ul>
           <li><a href="#{route-uri-x controller:'ngldemo' , action:'home'/}">&{'ngconnect.noactive.anchor.home'}</a> - &{'ngconnect.noactive.anchor.home.para'}</li>
           <li><a href="#{route-uri-x controller:'ngldemo' , action:'reader'/}">&{'ngconnect.noactive.anchor.bookreader'}</a> – &{'ngconnect.noactive.anchor.bookreader.para'}</li>
           <li><a href="#{route-uri-x controller:'ngldemo' , action:'index'/}">&{'ngconnect.noactive.anchor.siteindex'}</a> – &{'ngconnect.noactive.anchor.siteindex.para'}</li>
       </ul>
       <p>&{'ngconnect.noactive.para3'}</p>
       <p>&{'ngconnect.noactive.para4.beforelink'} <a href="http://demo2.comprotechnologies.com">demo2.comprotechnologies.com</a> &{'ngconnect.noactive.para4.afterlink'}</p>

    </div>
</div>


