#{extends 'NGLDemo/layouts/layout_reader.html' /}
#{set title:'NGL Looking Ahead | Activity' /}


<div id="pagecontent">
    <div id="eedition-container">
        <div id="eeditionpagedivA" class="eeditionpagediv">
            <img id="eeditionpageA" src="http://www.comprotechnologies.com/wcg/assets/images/eedition/book1/c04_es_01_01_006_600.jpg" alt="Page A"/>
        </div>
        <div id="eeditionpagedivB" class="eeditionpagediv">
            <img id="eeditionpageB" src="http://www.comprotechnologies.com/wcg/assets/images/eedition/book1/c04_es_01_01_007_600.jpg" alt="Page B"/>
        </div>
    </div>
    <div id="overlays"></div>
</div>
