<!DOCTYPE html>
<html lang="en">
<head>
#{set title:'NGL Looking Ahead' /}
#{layout-html-header /}<!-- HTML HEAD Title, Meta tags, CSS includes -->

<link rel="stylesheet" media="all" href="/public/stylesheets/eedition-structure.css" />
<link rel="stylesheet" media="all" href="/public/stylesheets/eedition-query.css" />

</head>
<body class="theme-${flash.get("application.theme")}" #{if "ar".equals(lang.toString())}dir="rtl"#{/if}>

<!-- AJAX Error dialog-->
<div id="error-modal" class="modal fade hide">
    <div class='modal-header'>
        <button class='close' data-dismiss='modal'>&times;</button>
        <h2>Oops!</h2>
        <h3 class="error-status-code"></h3>
        <h4 class="error-message"></h4>
        <h5 class="error-url"></h5>
    </div>
    <div class='modal-body'></div>
    <div class='modal-footer'>
        <a href='#' class='btn' data-dismiss='modal' >Close</a>
    </div>
</div>

<div id="backbone_container">
#{if flash.get("application.delivery") != "offline"}
    <div class="container splash">
        <div class="row">
            <div class="span12">
                <h1>National Geographic Learning (NGL)</h1>
                <h2>Wireframes - "Looking Ahead" <small>v0.1, June 10th, 2012</small></h2>
                <h6>Copyright 2012, National Geographic Learning, CENGAGE Learning</h6>
                <p>Concept demo for National Geographic Learning (NGL) "looking ahead" strategy - These wire-frames are not meant to indicate any particular visual design/approach; they demonstrate key technical and functional capabilities of platform’s front-end architecture and approach. This includes delivery methods, localization, content engines, functional flow & design flexibility.</p>
                <p>The following examples are representative of various skins/styles & delivery methods that are supportable across multiple products, platforms and devices.</p>
            </div>
        </div>
        <div class="row">
            <div class="span3">
                <dl>
                    <dt><h3>Sites</h3></dt>
                    <dd><i class="icon-external-link"></i> <a href="/ngldemo/ngconnect/traditional/index">NGConnect skin<small> >> </small></a></dd>
                    <dd><i class="icon-external-link"></i> <a href="/ngldemo/myelt/traditional/index">MyELT skin<small> >> </small></a></dd>
                </dl>
            </div>
            <div class="span3">
                <dl>
                    <dt><h3>Web apps</h3></dt>
                    <dd><i class="icon-chevron-right"></i> <a href="/#/ngldemo/ngconnect/singlepage/index">NGConnect skin<small> >> </small></a></dd>
                    <dd><i class="icon-chevron-right"></i> <a href="/#/ngldemo/myelt/singlepage/index">MyELT skin<small> >> </small></a></dd>
                </dl>
            </div>
            <div class="span3">
                <dl>
                    <dt><h3>Native (Offline)</h3></dt>
                    <dd><i class="icon-download"></i> <a href="#{route-uri "/public/offline/bin//comps.apk" /}">iOS App<small> (NGConnect)</small></a></dd>
                    <dd><i class="icon-download"></i> <a href="#{route-uri "/public/offline/bin/myelt/comps.apk" /}">iOS App<small> (MyELT)</small></a></dd>
                    <dd><i class="icon-download"></i> <a href="#{route-uri "/public/offline/bin/android/ng/NGLLookingAhead.apk" /}">Android App<small> (NGConnect)</small></a></dd>
                </dl>
            </div>
            <div class="span3">
                <dl>
                    <dt><h3>Desktop (CDs)</h3></dt>
                    <dd><i class="icon-download"></i> <a href="#{route-uri "/public/offline/bin/air/ng/NGLLookingAhead.exe" /}">Windows<small> (NGConnect)</small></a></dd>
                    <dd><i class="icon-download"></i> <a href="#{route-uri "/public/offline/bin/air/ng/NGLLookingAhead.dmg" /}">Mac<small> (MyELT)</small></a></dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <h3>Compliance & Standards</h3>
                <dl class="dl-horizontal">
                    <dt>Browsers</dt>
                    <dl>IE9+, Safari 5+, Firefox 9+, Chrome 10+</dl>
                    <dt>Platforms (desktop)</dt>
                    <dl>Windows XP+, Mac OSX 10.2.4+</dl>
                    <dt>Platforms (mobile)</dt>
                    <dl>iOS 5+, Android 3.2+, Windows Phone 7+</dl>
                    <dt>Languages</dt>
                    <dl>English, Japanese, Arabic</dl>
                    <dt>Accessibility</dt>
                    <dl>WCAG, Section 508</dl>
                 </dl>
                <p>The styles, content, text/copy used in these example are placeholders only, and have not been validated for accuracy or applicability.</p>
            </div>

        </div>
        <div class="row">
            <div class="span12">
                <blockquote class="pull-right">
                    <small>Compro Technologies, 2012</small>
                </blockquote>
            </div>
        </div>
    </div>
        <!-- End of Splash-->
    #{/if}
</div>

       <!-- Le javascript
       ================================================== -->
#{layout-scripts-global /}
#{layout-scripts-backbone/}
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>

