<!DOCTYPE html>
<html>
<head>
#{layout-html-header /}<!-- HTML HEAD Title, Meta tags, CSS includes -->

<link rel="stylesheet" media="all" href="/public/stylesheets/reader.css" />
</head>
<body class="theme-${flash.get("application.theme")}" #{if "ar".equals(lang.toString())}dir="rtl"#{/if}>

<!-- AJAX Error dialog-->
<div id="error-modal" class="modal fade hide">
    <div class='modal-header'>
        <button class='close' data-dismiss='modal'>&times;</button>
        <h2>Oops!</h2>
        <h3 class="error-status-code"></h3>
        <h4 class="error-message"></h4>
        <h5 class="error-url"></h5>
    </div>
    <div class='modal-body'></div>
    <div class='modal-footer'>
        <a href='#' class='btn' data-dismiss='modal' >Close</a>
    </div>
</div>

<div id="backbone_container"/>

<!-- Le javascript
================================================== -->
#{layout-scripts-global /}
#{layout-scripts-backbone/}
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>

