<!DOCTYPE html>

<html>
<head>
    <meta charset="${_response_encoding}">
    <title>Rumble in the Jungle!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NLG Looking Ahead Demo, 2012">
    <meta name="author" content="Compro Technologies Pvt. Ltd.">
    <!-- Le stylesheets-->
#{if "ar".equals(lang.toString())}
    <link rel="stylesheet" media="screen" href="@{'/public/bootstrap/less/bootstrap-rtl.css'}"/>
    <link rel="stylesheet" media="screen" href="@{'/public/bootstrap/less/responsive-rtl.css'}"/>
#{/if}#{else}
    <link rel="stylesheet" media="screen" href="@{'/public/bootstrap/less/bootstrap.less'}"/>
    <link rel="stylesheet" media="screen" href="@{'/public/bootstrap/less/responsive.less'}"/>
#{/else}
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
</head>
<body #{if "ar".equals(lang.toString())}dir="rtl"#{/if}>

<!-- sample modal content -->
<div id="errorModal" class="modal fade">
    <div class='modal-header'>
        <button class='close' data-dismiss='modal'>&times;</button>
        <h3>Error Details</h3>
    </div>
    <div class='modal-body'></div>
    <div class='modal-footer'>
        <a href='#' class='btn' data-dismiss='modal' >Close</a>
    </div>
</div>
<!-- Model close here -->

<div id="backbone_container"></div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="@{'/public/javascripts/jquery-1.7.1.min.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/underscore-1.3.3.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/backbone.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/mustache-0.5.0-dev.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/template-cache.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/LAB-2.0.3.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/app/main.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>

<script src="@{'/public/bootstrap/js/bootstrap-carousel.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/bootstrap/js/bootstrap-tooltip.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/bootstrap/js/bootstrap-popover.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/bootstrap/js/bootstrap-dropdown.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/bootstrap/js/bootstrap-collapse.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/bootstrap/js/bootstrap-transition.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>

<script src="@{'/public/javascripts/hide-addressbar.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>


<script type="text/javascript">
    $('.carousel').carousel();
    $('.popover-test').popover();
    $('.tooltip-test').tooltip();
    $().dropdown();

</script>

</body>
</html>

