<!DOCTYPE html>
#{set title:'NGL Looking Ahead | Wireframes' /}
#{if flash.get("application.delivery") == "traditional"}
<!-- This section is not needed for single page apps -->
<html>
<head>
#{layout-html-header /}
</head>
<body class="theme-${flash.get("application.theme")}" #{if "ar".equals(lang.toString())}dir="rtl"#{/if}>
#{/if}

<div class="container splash">
    <div class="row">
        <div class="span12">
            <h1>National Geographic Learning (NGL)</h1>
            <h2>Wireframes - "Looking Ahead" <small>v0.1, June 10th, 2012</small></h2>
            <h6>Copyright 2012, National Geographic Learning</h6>
            <p>A conceptual demo for set of working wire-frames representing the National Geographic Learning "looking ahead" strategy. These wire-frames are not meant to imply any particular visual design/approach, instead they demonstrate some of the key technical and functional capabilities of front-end framework.</p>
            <p>The examples, content, text used across these wire-frames are placeholders only, and have not been validated for accuracy or correct contextual application.</p>
        </div>
    </div>
    <div class="row">
        <div class="span3">
            <dl>
                <dt><h3>Web sites</h3></dt>
                <dd><a href="/ngldemo/ngconnect/traditional/index">NGConnect theme<small> >> </small></a></dd>
                <dd><a href="/ngldemo/myelt/traditional/index">MyELT theme<small> >> </small></a></dd>
            </dl>
        </div>
        <div class="span3">
            <dl>
                <dt><h3>Web apps</h3></dt>
                <dd><a href="/#/ngldemo/ngconnect/singlepage/index">NGConnect theme<small> >> </small></a></dd>
                <dd><a href="/#/ngldemo/myelt/singlepage/index">MyELT theme<small> >> </small></a></dd>
            </dl>
        </div>
        <div class="span3">
            <dl>
                <dt><h3>Native (Offline) apps</h3></dt>
                <dd><a href="#{route-uri "/public/offline-data/apps/comps.apk" /}">Android app<small> (download)</small></a></dd>
                <dd><a href="#{route-uri "/ngldemo/myelt/offline/index" /}">iOS app<small> (register your device)</small></a></dd>
            </dl>
        </div>
    </div>  <!-- End of Splash->


#{if flash.get("application.delivery") == "traditional"}
<!-- This section is not needed for single page apps -->
<!-- Le javascript
================================================== -->
#{layout-scripts-global /}
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
#{/if}
