<!DOCTYPE html>
#{set title:'NGL Looking Ahead | Wireframes' /}
#{if play.configuration["application.delivery"] == "traditional"}
<!-- This section is not needed for single page apps -->
<html>
<head>
#{layout-html-header /}
</head>
<body #{if "ar".equals(lang.toString())}dir="rtl"#{/if}>
#{/if}

<div class="container splash">
    <div class="row">
        <div class="span12">
            <h1>National Geographic Learning (NGL)</h1>
            <h2>Wireframes - "Looking Ahead" <small>v0.1, June 10th, 2012</small></h2>
            <h6>Copyright 2012, National Geographic Learning</h6>
            <p>A conceptual demo for set of working wire-frames representing the National Geographic Learning "looking ahead" strategy. These wire-frames are not meant to imply any particular visual design/approach, instead they demonstrate some of the key technical and functional capabilities of front-end framework.</p>
            <p>The examples, content, text used across these wire-frames are placeholders only, and have not been validated for accuracy or correct contextual application.</p>
            <p>
                <span>Sites:</span>
                <a class="btn btn-large" href="#{route-uri "/ngldemo/ngconnect/traditional/index" /}">NGConnect theme<small> (start)</small></a>
                <a class="btn btn-large" href="#{route-uri "/ngldemo/myelt/traditional/index" /}">MyELT theme<small> (start)</small></a>
            </p>
            <p>
                <span>Web apps:</span>
                <a class="btn btn-large" href="#{route-uri "/ngldemo/ngconnect/singlepage/index" /}">NGConnect theme<small> (start)</small></a>
                <a class="btn btn-large" href="#{route-uri "/ngldemo/myelt/singlepage/index" /}">MyELT theme<small> (start)</small></a>
            </p>
            <p>
                <span>Native apps:</span>
                <a class="btn btn-large" href="#{route-uri "/public/offline-data/apps/comps.apk" /}">Android app<small> (download)</small></a>
                <a class="btn btn-large" href="#{route-uri "/ngldemo/myelt/offline/index" /}">iOS app<small> (register your device)</small></a>
            </p>
          </div>
    </div>
</div>  <!-- End of Splash->


#{if play.configuration["application.delivery"] == "traditional"}
<!-- This section is not needed for single page apps -->
<!-- Le javascript
================================================== -->
#{layout-scripts-global /}
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
#{/if}
